/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Jul-2014, 11:40:47
    Author     : Hanif
*/

/*Colors */

$green: #bcce12;
$yellow: #ecb827;
$grey: #a2a2a2;
$dark-grey:#22444d;
$blue: #333745;


$font-colour-headings: #ec5244;
$font-colour-normal: #22444d;
$font-color-price: #f54e4e;


/* ---------------------------- */

$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;
$transition: all 0.4s ease;